@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Readex+Pro&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
li {
  font-size: 18px;
  font-family: "Source Sans Pro";
}

h3 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Readex Pro", sans-serif;
  margin: 40px 0 20px;
}

h4,
label {
  font-family: "Source Sans Pro";
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fafafa; */
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  max-width: 1440px;
  margin: 20px auto 50px;
  border-radius: 10px;
  padding: 5px 20px;
}

header #burger {
  display: none;
}

header #burger-close {
  display: none;
}

.logo img {
  height: 80px;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  text-decoration: none;
  list-style: none;
  margin-left: 30px;
}

.nav-menu ul li a {
  color: white;
}

#mobile-menu {
  display: none;
}

#mobile-menu ul li {
  list-style: none;
  margin: 20px 0;
}

#mobile-menu ul li a {
  color: white;
}

body {
  background: linear-gradient(122.74deg, #008cc8 0%, #2ae3f9 102.43%);
}

/* CONTENT =========================================================*/

.content {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campaign {
  display: flex;
  align-items: center;
  width: 70vw;
  max-width: 1440px;
  justify-content: space-around;
  padding-bottom: 40px;
}

.campaign .desc {
  padding: 50px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(25px);
  border-radius: 25px;
  margin-right: -300px;
  max-width: 700px;
  z-index: 1;
}

.campaign .desc h3 {
  color: #00b3c8;
  font-size: 48px;
  margin: 0;
  margin-bottom: 10px;
}

.campaign .desc p {
  font-size: 18px;
  margin-bottom: 30px;
}

.campaign .desc input[type="button"] {
  border: none;
  background-color: #f36523;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}

.campaign .desc input[type="button"]:hover {
  cursor: pointer;
}

.campaign img {
  width: auto;
  height: 400px;
  border-radius: 25px;
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
}

.products h3 {
  font-size: 36px;
}

.products .cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.products .card {
  width: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  background-color: white;
  border: 2px solid rgb(219, 219, 219);
}

.products .card:hover {
  transform: translateY(-8px);
  transition: 0.15s;
}

.products img {
  height: 100px;
}

.products h4 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.products p {
  color: grey;
  line-height: 1.5em;
  text-align: justify;
}

.benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.benefits h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.benefits .items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.benefits .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.benefits .item img {
  height: 80px;
}

.benefits .items p {
  margin-top: 10px;
  text-align: center;
}

.benefits button {
  display: none;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
}

.about-us h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-us .sec1 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.about-us .sec1 .detail {
  /* margin-right: 50px; */
  width: 50vw;
}

.about-us .sec1 img {
  height: 180px;
}

.about-us .detail p {
  line-height: 1.5em;
}

.sponsorships {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  background-color: #e0fcff;
}

.sponsorships .detail {
  display: flex;
  align-items: center;
}

.sponsorships .desc {
  width: 50vw;
  line-height: 1.5em;
}

.sponsorships .events {
  padding: 20px;
  border-radius: 20px;
  background-color: #f5feff;
  text-align: center;
  width: 140px;
  margin-left: 20px;
  border: 1px solid rgb(161, 161, 161);
}

.sponsorships .events h4 {
  font-size: 48px;
}

form {
  display: flex;
  align-items: center;
}

.sponsor-form {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0fcff;
}

.sponsor-form h3 {
  margin-top: 0;
  text-align: center;
}

.sponsor-form .inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 260px;
  margin-bottom: 24px;
}

.sponsor-form .inputs label {
  margin-bottom: 6px;
}

.sponsor-form .inputs input[type="text"],
input[type="email"],
input[type="tel"] {
  border: none;
  /* border: 1px solid grey; */
  height: 24px;
  padding: 4px;
  border-radius: 8px;
  width: 100%;
  font-family: "Source Sans Pro";
}

.sponsor-form input[type="submit"] {
  border: none;
  background-color: #f36523;
  width: 140px;
  padding: 12px;
  border-radius: 16px;
  color: white;
  font-family: "Source Sans Pro";
}

.sponsor-form input[type="submit"]:hover {
  cursor: pointer;
}

.sponsor-form form {
  display: flex;
  flex-direction: column;
}

.sponsor-form .contact p a {
  color: #464646;
}

.past-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0fcff;
  width: 100%;
}

.past-events .events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-events .event {
  display: flex;
  width: 600px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #c7c7c7;
  margin-bottom: 20px;
  padding: 30px;
}

.past-events .event .detail {
  margin: auto;
  line-height: 1.5em;
}

.past-events .event .detail h4 {
  font-size: 24px;
  margin-bottom: 14px;
}

.past-events .event img {
  height: 150px;
  margin: auto;
  margin-left: 20px;
  border-radius: 20px;
}

.more-info {
  background-color: #ffe79a;
  display: flex;
  border-radius: 14px;
  margin-top: 30px;
  align-items: center;
  padding: 0 20px;
}

.more-info img {
  width: 160px;
  margin-top: -50px;
  margin-right: 14px;
}

.contact-us {
  display: flex;
  flex-direction: column;
}

.contact-us h4 {
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-us .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-us .contact p {
  margin: 0 8px;
  text-decoration: underline;
}

.info {
  margin-top: 20px;
  font-style: italic;
  width: 90vw;
}

.info span {
  color: red;
}

/* FOOTER ======================================================= */

footer {
  background-color: #222222;
  width: 100%;
}

.footer {
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 0;
  max-width: 1440px;
  flex-wrap: wrap;
}

footer .sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .sec1 .detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

footer .sec1 p {
  font-size: 16px;
}

footer .sec1 img {
  height: 160px;
  width: auto;
}

footer .sec1 .detail img {
  width: 100px;
  height: auto;
  margin: 14px 0;
  display: flex;
}

footer .sec2 h4,
.sec3 h4 {
  font-size: 36px;
  margin-bottom: 14px;
  font-family: "Oswald", sans-serif;
}

footer .sec2 ul li {
  list-style: none;
  margin: 8px 0;
  font-size: 16px;
}

footer .sec2 ul li a {
  color: white;
}

footer .sec3 ul li {
  list-style: none;
  display: flex;
  margin: 8px 0;
  align-items: center;
  font-size: 16px;
}

footer .sec3 ul li img {
  margin-right: 8px;
}

footer .sec3 img {
  width: 20px;
}

.copyright {
  background-color: #222222;
  padding: 10px 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Tablet Landscape Version ===================================== */
@media all and (max-width: 1024px) {
  .campaign {
    /* flex-direction: column-reverse; */
    /* align-items: center; */
    justify-content: center;
  }

  .campaign img {
    width: 400px;
    height: auto;
  }

  .campaign .desc {
    width: 300px;
    padding: 20px 40px;
    margin-right: -200px;
  }

  .campaign .desc h3 {
    font-size: 36px;
  }

  .products .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-us .sec1 .detail {
    width: 60vw;
    max-width: 500px;
  }

  .about-us .sec2 .vision,
  .mission {
    align-items: center;
  }

  .about-us .sec2 img {
    width: 300px;
  }
}
/* Tablet Potrait Version ===================================== */
@media all and (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  header .nav-menu {
    display: none;
  }

  header #burger {
    display: block;
  }

  #mobile-menu {
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-radius: 14px;
    align-items: center;
    background-color: #004c6d;
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 6px 0;
  }

  #mobile-menu a {
    color: white;
    margin: 4px 0;
    padding: 6px;
    width: 100%;
    text-align: center;
  }

  .campaign {
    flex-direction: column-reverse;
  }

  .campaign img {
    width: 90vw;
    height: auto;
  }

  .campaign .desc {
    margin: -150px 0 0;
    width: 260px;
  }

  .benefits .item-more {
    display: none;
  }

  .benefits button {
    display: block;
    border: none;
    padding: 14px;
    border-radius: 14px;
    height: fit-content;
    background-color: #f36523;
    color: white;
    font-size: 16px;
    margin-top: 20px;
  }

  .about-us .sec1 {
    flex-direction: column;
    align-items: center;
  }

  .about-us .sec1 .detail {
    margin: 0;
    width: 80vw;
  }

  .about-us .sec1 .detail h3 {
    text-align: center;
  }

  .about-us .sec1 img {
    margin-top: 20px;
  }

  .about-us .sec2 p {
    text-align: center;
  }

  .about-us .vision {
    flex-direction: column;
  }

  .about-us .mission {
    flex-direction: column-reverse;
  }

  .sponsorships .detail {
    flex-direction: column;
  }

  .sponsorships .events {
    margin: 0;
    margin-top: 20px;
  }

  .sponsorships .desc {
    width: 80vw;
  }

  .past-events .event {
    flex-direction: column-reverse;
    width: 80%;
    align-items: center;
  }

  .past-events .event img {
    margin: 0 0 14px;
  }

  .past-events .event h4 {
    text-align: center;
  }

  .sponsorships .footer {
    align-items: flex-start;
  }

  .more-info {
    flex-direction: column;
    margin-top: 70px;
    padding-bottom: 30px;
  }

  .more-info h4 {
    text-align: center;
  }

  footer .sec1 {
    align-items: center;
    width: 100%;
  }

  .footer .sec1 img {
    width: 200px;
    height: auto;
  }

  footer .sec1 .detail img {
    width: 60px;
    margin-right: 16px;
  }

  .footer .sec1 .detail {
    justify-content: center;
    padding: 0;
  }

  footer .sec1,
  .sec2,
  .sec3 {
    margin-bottom: 24px;
  }

  .footer .sec2 ul,
  .sec3 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Version =============================================== */
@media all and (max-width: 320px) {
  header {
    width: 90vw;
    padding: 0 5px;
    margin: 10px 0 20px;
    border: none;
  }

  header .logo img {
    margin: 0;
  }

  .campaign img {
    margin: 0;
    width: 95vw;
  }

  .campaign .desc {
    width: 60vw;
  }

  .campaign .desc h3 {
    font-size: 24px;
  }

  .products h3 {
    text-align: center;
  }

  .products .cards {
    justify-content: center;
  }

  .products .card {
    margin: 0;
    margin-bottom: 20px;
    width: 80vw;
    padding: 20px;
  }

  .about-us .sec1 {
    justify-content: center;
  }

  .about-us .sec1 .detail {
    width: 90vw;
  }

  .about-us .sec2 p {
    width: 95vw;
  }

  .about-us .sec2 {
    text-align: center;
  }

  .about-us .sec2 img {
    max-width: 90vw;
  }

  .sponsorships .desc {
    width: 90vw;
  }
}
