@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Readex+Pro&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

a {
  color: black;
  text-decoration: none;
}

p,
li {
  font-size: 18px;
}

h3 {
  font-size: 36px;
  margin: 40px 0 20px;
  font-family: "Readex Pro";
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  max-width: 1440px;
  margin: 20px auto 50px;
  border-radius: 10px;
  padding: 5px 20px;
}

header #burger {
  display: none;
}

header #burger-close {
  display: none;
}

.logo img {
  height: 80px;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  list-style: none;
  margin-left: 30px;
}

.nav-menu ul li a {
  color: white;
}

#mobile-menu {
  display: none;
}

body {
  background: linear-gradient(110.78deg, #00b3c8 0%, #2ae3f9 100%);
}

/* CONTENT =========================================================*/

.content {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64vw;
  color: white;
  max-width: 1440px;
}

.about-us h3 {
  margin-top: 0;
}

.about-us img {
  margin: 30px 0;
  width: 50%;
  max-width: 500px;
}

.about-us p {
  line-height: 1.5em;
  width: 80%;
}

.decoration {
  z-index: 2;
}

.vm {
  background-color: white;
  width: 100%;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.vm h3 {
  color: #00b3c8;
  margin-top: 60px;
}

.vm .boxes {
  display: flex;
  /* width: 80%; */
  justify-content: center;
  flex-wrap: wrap;
}

.boxes .vision,
.mission {
  background-color: #e0fcff;
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  width: 300px;
  margin: 20px 30px;
  color: #353535;
}

.boxes img {
  height: 200px;
  margin-bottom: 24px;
}

.boxes h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.milestone {
  /* height: 1000px; */
  background-color: #e0fcff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.milestone h3 {
  margin-bottom: 6px;
}

.milestone p {
  margin-bottom: 24px;
}

.milestone img {
  width: 60vw;
  max-width: 700px;
}

.milestone .mobile {
  display: none;
}

.ceo {
  background-color: white;
  color: #464646;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.ceo h3 {
  margin-top: -70px;
}

.ceo img {
  width: 160px;
  filter: drop-shadow(0px 20px 15px rgba(171, 171, 171, 0.25));
}

.ceo .role {
  text-align: center;
}

.ceo h4 {
  margin: 20px 0 8px;
  font-size: 24px;
}

.ceo p {
  max-width: 700px;
  line-height: 1.5em;
}

.ceo .quote {
  margin-top: 20px;
  font-style: italic;
  color: #00b3c8;
  text-align: center;
}

/* FOOTER ======================================================= */

footer {
  background-color: #222222;
  width: 100%;
}

.footer {
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 0;
  max-width: 1440px;
  flex-wrap: wrap;
}

footer .sec1 {
  display: flex;
  flex-direction: column;
}

footer .sec1 .detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

footer .sec1 p {
  font-size: 16px;
}

footer .sec1 img {
  height: 160px;
  width: auto;
}

footer .sec1 .detail img {
  width: 100px;
  height: auto;
  margin: 14px 0;
  display: flex;
}

footer .sec2 h4,
.sec3 h4 {
  font-size: 36px;
  margin-bottom: 14px;
  font-family: "Oswald";
}

footer .sec2 ul li {
  list-style: none;
  margin: 8px 0;
  font-size: 16px;
}

footer .sec3 ul li {
  list-style: none;
  display: flex;
  margin: 8px 0;
  align-items: center;
  font-size: 16px;
}

footer .sec3 ul li a {
  color: white;
  margin: auto;
  display: flex;
}

footer .sec3 ul li img {
  margin-right: 8px;
}

footer .sec3 img {
  width: 20px;
}

.copyright {
  background-color: #222222;
  padding: 10px 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Tablet Landscape Version ===================================== */
@media all and (max-width: 1024px) {
}

/* Tablet Potrait Version ===================================== */
@media all and (max-width: 768px) {
  header {
    /* margin: 0 0 20px; */
    justify-content: space-between;
  }

  header .nav-menu {
    display: none;
  }

  header #burger {
    display: block;
  }

  #mobile-menu {
    flex-direction: column;
    width: 90%;
    margin: auto;
    border-radius: 14px;
    align-items: center;
    background-color: #004c6d;
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 6px 0;
  }

  #mobile-menu a {
    color: white;
    margin: 4px 0;
    padding: 6px;
    width: 100%;
    text-align: center;
  }

  .about-us {
    width: 90vw;
  }

  .about-us img {
    margin-top: 20px;
    width: 90%;
  }

  .decoration {
    width: 100px;
  }

  .vm {
    margin-top: -25px;
  }

  .boxes .vision,
  .mission {
    padding: 20px;
    margin: 20px 0;
    width: 240px;
  }

  .boxes img {
    width: 160px;
    height: auto;
  }

  .ceo h3 {
    margin-top: -40px;
  }

  .ceo p {
    width: 90vw;
  }

  .footer {
    align-items: flex-start;
  }

  footer .sec1 {
    align-items: center;
    width: 100%;
  }

  .footer .sec1 img {
    width: 200px;
    height: auto;
  }

  footer .sec1 .detail img {
    width: 60px;
    margin-right: 16px;
  }

  .footer .sec1 .detail {
    justify-content: center;
    padding: 0;
  }

  footer .sec1,
  .sec2,
  .sec3 {
    margin-bottom: 24px;
  }

  .footer .sec2 ul,
  .sec3 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile L Version ================================================*/
@media all and (max-width: 480px) {
  .milestone .desktop {
    display: none;
  }

  .milestone .mobile {
    display: block;
  }

  .milestone .white-dec {
    display: none;
  }

  .ceo h3 {
    margin-top: 20px;
  }
}

/* Mobile Version =============================================== */
@media all and (max-width: 320px) {
  header {
    width: 90vw;
    padding: 0 5px;
    margin: 10px 0 20px;
    border: none;
  }

  header .logo img {
    margin: 0;
  }
}
